body {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E9E9E9;
}

a {
    text-decoration: none;
    color: #fff;
  }
.menu-top__wrapper {
    width: 100%;
    background-color: #2A2B2C;
    display: flex;
    justify-content: center;
}
.menu-top {
    width: 960px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 33px;
    padding: 0 5px;
}
.menu-top .fa {
    margin: 0 5px;
    }

.icons {
    color: #fff;
    font-size: 26px;
    padding: 0 5px;
}

.menu-top__right {
    display: flex;
    align-items: center;
    padding: 0 5px;
    color: #fff;
}
.login {
    background-color: #2A2B2C;
    color: #fff;
    border: none;
    cursor: pointer;
}

.register {
    background-color: #2A2B2C;
    color: #fff;
    border: none;
    cursor: pointer;
}
.cart {
    background-color: #CC3333;
    color: #fff;
    border: none;
    height: 33px;
    margin-left: 15px;
    cursor: pointer;
}
.unvisible {
    display: none;
}
.flex {
    display: flex;
}

.dropdown {
    position: absolute;
    display: block;
    color: black;
    width: 280px;
    height: 150px;
    background-color: rgb(243, 185, 185);
}

.menu-wrapper {
    width: 100%;
    background-color: #F1F1F1;
    display: flex;
    justify-content: center; 
}
.menu {
    width: 960px;
    display: flex;
    align-items: center;
    height: 100px;

}

.logo-img {
    position: relative;
}
.logo-letter {
    position: absolute;
    color: #fff;
    font-size: 40px;
    left: 254px;
    top: 22px;
}
.logo-name {
    font-size: 40px;
}
.menu-list {
    display: flex;
    padding-left: 230px;
    text-transform: uppercase;
}
.menu-list p {
    padding: 0 40px;
}
.carousel {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

/* DROPDOWN_CART */

.product-in-cart {
    display: flex;
    border: 1px solid rgb(240, 136, 136);
    padding: 20px;
    width: 250px;
    background-color:  rgb(243, 185, 185);
}
.image-in-cart {
    width: 100px;
    padding: 0 10px;
}
.title-in-cart {
    width: 80px;
}
/* CONTENT */

.content__title-block {
    display: flex;
    justify-content: center;
}
/* CONTENT > TITLE */
.title {
    width: 960px;
    margin: 50px;
}
.title-text__above {
    background-color: rgb(243, 185, 185);
    color: rgb(243, 185, 185);
}
.title-text {
    text-align: center;
text-transform: uppercase;
font-size: 30px;
margin: 20px;
}
.title-text__below {
    background-color:rgb(243, 185, 185);
    color: rgb(243, 185, 185);
}
/* CONTENT > TITLE > TITLEBLOCKS */
.title-blocks {
    display: flex;
    margin-top: 20px;
}

.check {
    background-color: #1E1E20;
    color: #fff;
}
.check p {
    margin: 10px 15px;
    text-align: center;
}
.fa-style {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-style p {
    text-transform: uppercase;
    

}
.listen {
    background-color: #CC3333;
    color: #fff
}
.listen p {
    margin: 10px 15px;
    text-align: center;
}
.events {
    background-color: #1E1E20;
    color: #fff;
}
.events p {
    margin: 10px 15px;
    text-align: center;
}
/* CONTENT > ALBUMSLIST */

.albums-list {
    /* width: 960px; */
    
    text-align: center;
}
.albums {
    display: flex;
    margin-top: 30px;
}

.albums-list__title {
    text-transform: uppercase;
    font-size: 20px;
}
.albums-list__product {
    /* display: flex;
    flex-wrap: wrap;
    text-align: center; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* width: 960px; */
    margin: auto;
}
.product-one {
    grid-column: 1 / 4;
    grid-row: 1;
}
.product-two {
    grid-column: 2 / 4;
    grid-row: 1;
}
.product-three {
    grid-column: 3 / 4;
    grid-row: 1;
}
.product-four {
    grid-column: 4 / 4;
    grid-row: 1;
}
.product-five {
    grid-column: 1 / 4;
    grid-row: 2;
}
.product-six {
    grid-column: 2 / 4;
    grid-row: 2;
}
.product-seven {
    grid-column: 3 / 4;
    grid-row: 2;
}
.product-eight {
    grid-column: 4 / 4;
    grid-row: 2;
}
.product-nine {
    grid-column: 1 / 4;
    grid-row: 3;
}
.product-ten {
    grid-column: 2 / 4;
    grid-row: 3;
}
.product-eleven {
    grid-column: 3 / 4;
    grid-row: 3;
}
.product-twelve {
    grid-column: 4 / 4;
    grid-row: 3;
}
.product-wrapper {
    width: 220px;
    margin: 20px 0;
    padding: 5px 15px 5px 5px;
    background-color: rgb(250, 248, 248);
    text-align: right;
}
/* .product-wrapper:first-child {

} */

.product-wrapper p {
    text-align: start;
}
.price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font: bold;
}
.add {
    background-color: #1E1E20;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.publishers {
    margin-top: 40px;
}
.publishers-list {
    display: flex;
    justify-content: center;
    }

.publishers-box {
    box-shadow: inset 5px 0 15px #AFAEAE;
    margin: 6px;
}
/* FOOTER */

.footer {
    margin: 40px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.footer-info__wrapper {
    display: flex;
    justify-content: center;
}
.footer-info {
    text-transform: uppercase;
    margin: 20px;
    font-size: 20px;
    box-shadow: inset 5px 0 15px #AFAEAE;
}
.sub-footer {
    display: flex;
    justify-content: center;

}

.iconClose {
    justify-content: right;
    cursor: pointer;
}


/* ========MODAL=========== */
.modal_wrapper {
    position:fixed;
    width: 100%;
    height:100%;
    top: 0;
    left: 0;
    justify-content:center;
    align-items:center;
    background:  #AFAEAE;
    outline: 200px solid #fff2ff;
    background:rgba(0,0,0,0.7);
    z-index:100;
   
}
.modal {
    width: 50%;
    height: 70%;
    background-color: rgb(243, 185, 185);
    padding: 30px;
}
    .modal_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    font-size: 22px;
    font-weight: bold;
    color: #FFFFFF;
    border-bottom: 1px solid rgb(112, 111, 111);
}

.icon_close {
    cursor: pointer;
}
.modal_content {
    text-align: left;
    color: #FFFFFF;
}
.modal_content p {
    color: black;
    font-size: 20px;
} 
.modal_content img {
    border: 1px solid rgb(112, 111, 111);
    border-radius: 5px;
}
.modal_buttons {
    display: flex;
    justify-content: space-evenly;
}
.modal-button {
    width: 150px;
    height: 30px;
}
.cancel_button {
    color: black;
}